<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>210243832101-gpa4vknbavqp1iusrnbc06idr7bvfpl9.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.210243832101-gpa4vknbavqp1iusrnbc06idr7bvfpl9</string>
        <key>ANDROID_CLIENT_ID</key>
        <string>210243832101-1j2allbtm2n6p6jvfr8c90ggstbilqvv.apps.googleusercontent.com</string>
        <key>API_KEY</key>
        <string>AIzaSyA-7NjdvyGrIfync5DJDSURoi8BeknCZUo</string>
        <key>GCM_SENDER_ID</key>
        <string>210243832101</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.example.vapeMe</string>
        <key>PROJECT_ID</key>
        <string>vapeme-61377</string>
        <key>STORAGE_BUCKET</key>
        <string>vapeme-61377.firebasestorage.app</string>
        <key>IS_ADS_ENABLED</key>
        <false/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <true/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:210243832101:ios:ffd22cd67c7d6b40e432cc</string>
    </dict>
</plist>